{% extends 'base.html' %}

{% block content %}
{% load bootstrap_tags %}
<h2>Add a Post</h2>
<form id="post_form" method="post" action="/blog/add_post/" enctype="multipart/form-data">
  {% csrf_token %}
 <!--  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  {% for field in form.visible_fields %}
    {{ field.errors }}
    {{ label_tag }}
    {{ field }}
  {% endfor %} -->
  {{ form | as_bootstrap }}
  <input type="submit" name="submit" value="Create Post">
</form>
{% endblock %}
